<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/layout/head}"></head>
<body>
<script th:src="@{/static/customers.js}" type="text/javascript"></script>
<div class="ui-menubar" th:insert="~{/layout/menubar}"></div>
<div class="ui-panel-1">
    <h2>Kunden</h2>
    <div class="ui-button" onclick="createCustomer()">Neu...</div>
    <table>
        <thead>
        <tr>
            <th>Kunde</th>
            <th>Abteilungen</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry: ${tree.entrySet()}">
            <td th:text="${entry.key}"></td>
            <td>
                <div class="ui-button" th:attr="onclick=|createDepartment('${entry.key}')|">Neu...</div>
                <ul>
                    <li th:each="department: ${entry.value}"><span th:text="${department}"></span>
                        <span style="font-size: 80%; color: red" th:attr="onclick=|removeDepartment('${entry.key}', '${department}')|">Entfernen</span>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="ui-footer" th:insert="~{/layout/footer}"></div>
</body>
</html>