<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/layout/head}"></head>
<script th:src="@{/static/timetable.js}" type="text/javascript"></script>
<body onload="init()">
<div class="ui-menubar" th:insert="~{/layout/menubar}"></div>
<div class="minor ui-panel-1">
    <h2>Filter</h2>
    <div class="ui-panel-2" id="panel-filter-week">
        <h3>Nach Kalenderwoche</h3>
        <form method="get" th:action="@{/timetable}">
            <label for="filter-year">Jahr:</label>
            <input class="filter" id="filter-year" max="2100" min="2000" name="year" type="number">
            <label for="filter-week">Woche:</label>
            <input class="filter" id="filter-week" max="53" min="1" name="week" required type="number">
            <input type="submit" value="Anwenden">
        </form>
    </div>
    <div class="ui-panel-2" id="panel-filter-customer">
        <h3>Nach Kunde</h3>
        <form method="get" th:action="@{/timetable}">
            <label for="filter-customer">Kunde:</label>
            <input class="filter" id="filter-customer" name="customer" required>
            <input type="submit" value="Anwenden">
        </form>
    </div>
</div>
<div class="ui-panel-1">
    <h2 th:text="${displayInfoText}"></h2>
    <a class="ui-button" href="/timetable/create">Eintrag erstellen...</a>
    <table>
        <thead>
        <tr>
            <th>Tag</th>
            <th>Kunde</th>
            <th>Abteilung</th>
            <th>Begonnen</th>
            <th>Beendet</th>
            <th>Unterbrechungen</th>
            <th>Bemerkungen</th>
            <th>Zuweisungen</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry: ${entries}">
            <td th:text="${entry.dayText}"></td>
            <td th:text="${entry.customer.name}"></td>
            <td th:text="${entry.department.name}"></td>
            <td th:text="${entry.startTimeText}"></td>
            <td th:text="${entry.endTimeText}"></td>
            <td th:text="${entry.breaksSummaryText}"></td>
            <td th:text="${entry.notes}"></td>
            <td th:text="${entry.assignmentsSummaryText}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="ui-footer" th:insert="~{/layout/footer}"></div>
</body>
</html>
